* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-title {
  padding-top: 25px;
  padding-bottom: 40px;
  text-align: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  height: auto;
}


.box {
  display: inline-block;
  background: #808080;
  border: 2px solid black;
  position: relative;
  height: auto;
  margin-bottom: 15px;
}

p {
  padding: 40px 10px 10px 10px;
  text-align: left;
}

h3 {
  text-align: center;
}

.label {
  border: 3px solid black;
  font-size: 1.25em;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
}

#sub-title-1 {
  padding-left: 10px;
  padding-right: 10px;
  background-color: pink;
}

#sub-title-2 {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: red;
}

#sub-title-3 {
  padding-left: 10px;
  padding-right: 10px;
  background-color: yellow;
}


@media (min-width: 992px) and (max-width: 2560px) {
  .box {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  div#box1.box {
    width: 50%;
  }
  div#box2.box {
    width: 50%;
  }
  div#box3.box {
    width: 100%;
  }
}


@media (min-width: 320px) and (max-width: 767px) {
  .box {
    width: 100%;
  }
}
