#main_title {
  text-align: center;
  padding: 10px;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
}

.left {
  padding: 20px;
}

.middle {
  padding: 20px;
}

.right {
  padding: 20px;
}

p {
  padding: 15px;
}

#color {
  background-color: gray;
}

.title-left {
  background-color: pink;
}

.title-middle {
  background-color: red;
}

.title-right {
  background-color: yellow;
}

#t-color-1 {
  margin: 8px,20px,8px,20px;
}

#t-color-2 {
  color: white;
  margin: 8px,20px,8px,20px;
}

#t-color-3 {
  margin: 8px,20px,8px,20px;
}
