#main_title {
  text-align: center;
  padding: 10px;
}

.row {
  
}

p {
  padding: 10px;
}

#color {
  background-color: gray;
}

#t-color-1 {
  background-color: pink;
}

#t-color-2 {
  color: white
  background-color: red;
}

#t-color-2 {
  background-color: yellow;
}
